body {
  font-family: Arial;
  text-align: center;
  background: #f3f3f3;
  padding: 20px;
}

#preview {
  max-width: 300px;
  margin-top: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
}
